section {
    width: 100%;
  }
  
  img {
    width: 100%;
    max-width: 100%;
  }
  
  img.elEx_last {
    transform: translateX(-95%);
  }
  
  img.filter {
    -webkit-filter: brightness(0.5);
  }
  
  .background {
    position: relative;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s ease;
    z-index: 100;
  }
  
  .overlay img {
    width: 60%;
    height: 98.8%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 9999;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .text p,
  .text h3 {
    color: white;
  }
  
  .text p {
    font-size: 1.5em;
    line-height: 30px;
    margin-top: 10px;
  }